@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.details {
    bottom: -30px;
}

.details:hover {
    bottom: 0px;
    opacity: 80;
    position: absolute;
}

#title{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: #fff;
}

#oswald{
    font-family: 'Oswald', sans-serif;
}

@media (max-width: 768px) {
    #books{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    #book{
        width: 100%;
    }
}